.footer {
    background-color: var(--color-very-peri); /* Adjust this color as needed */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }

@media (max-width: 768px) {
  .footer {
    padding: 10px 0;
  }
  .footer p {
    font-size: 12px;
  }
  .footer-links a {
    margin: 0 5px;
    font-size: 14px;
  }
}