.home-container {
  align-items: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.home-title {
  width: 100%;
  background-color: var(--color-teal); 
  color: white; 
  text-align: center;
  padding: 20px 0; 
  margin-bottom: 20px;
}

.home-title h1 {
  margin: 0;
  font-size: 2em; 
  font-weight: bold;
  font-family: var(--font-plex-bold);
}

.home-description {
  text-align: center;
  font-size: 1.2rem;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.code-section {
  background-color: #323333;
  color: #fff7ee;
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.code-section pre {
  white-space: pre-wrap;
  line-height: 1.6;
}

.mission-statement {
  background-color: var( --color-light-teal);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.mission-statement h2 {
  color: #129e9a;
}

.mission-statement p {
  margin: 10px 0;
  font-size: 1.1rem;
}

.join-us {
  text-align: center;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.join-us h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: normal;
}

.join-us-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-item i {
  font-size: 24px;
  color: #129e9a;
}

.detail-item span {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .home-title h1 {
    font-size: 1.5em;
  }
  .home-description,
  .code-section,
  .mission-statement,
  .join-us {
    padding: 20px 5px;
    max-width: 100%;
  }
  .join-us-details {
    flex-direction: column;
    gap: 20px;
  }
  .detail-item span {
    font-size: 1rem;
  }
}
