.officer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .officer {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(186, 186, 223, 0.3);
  }
  
  .officer img {
    width: 100px;  /* Set the desired diameter of the circle */
    height: 100px;
    border-radius: 50%;  /* This creates the circular shape */
    object-fit: cover;  /* This will maintain the aspect ratio and fill the circle */
    object-position: center;  /* Center the image within the circle */
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000; /* Ensure it appears above other elements */
  }

  .modal-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
  }
  
  .modal-links a {
    color: #129e9a; /* Adjust color to match your design */
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .modal-links a:hover {
    color: #6667ab; /* Color change on hover */
  }